.coverage
.cache
__pycache__
experimental
wiki
_old
notebooks
images
*checkpoints*
.fuse*
*.pyc
*.egg-info
build/
dist/
.eggs/
.idea
pytest.ini
venv
sandbox
pandoc-*

# internal script for development
convert_testcases.sh
